$color-bg_default: #ffffff;
$color-bg_text: #dadada;
$color-bg_card-gray: #e6e6e6;
$color-bg_card-dark: #1a1a1a;
$color-border: #bdbdbd;
$color-border_cards: #bfbfbf;

$font-family_primary: 'PT Sans', sans-serif;
$font-family_button: 'Tourney', cursive;
$font-family_header: 'Staatliches', cursive;
$font-family_heading: 'Francois One', sans-serif;
$font-family_heading-alt: 'Roboto', sans-serif;
$font-family_superscript: 'Farro', sans-serif;

$header-height: 80px;
$section-spacing-top: 70px;
$divider-gap: 20px;
$divider-height: 8px;
