$color-bg_text: #dadada;
$font-family_primary: 'PT Sans', sans-serif;
$font-family_button: 'Tourney', cursive;
$font-family_nav: 'Staatliches', cursive;
$font-family_heading: 'Francois One', sans-serif;
$font-family_superscript: 'Farro', sans-serif;
