$color-bg_default: #ffffff;
$color-bg_text: #dadada;
$color-border: #bdbdbd;

$font-family_primary: 'PT Sans', sans-serif;
$font-family_button: 'Tourney', cursive;
$font-family_header: 'Staatliches', cursive;
$font-family_heading: 'Francois One', sans-serif;
$font-family_superscript: 'Farro', sans-serif;

$header-height: 80px;
$section_margin-top: 70px;
$divider-gap: 20px;
$divider-height: 8px;
