@use 'fonts';
@import 'variables';

body {
  font-family: $font-family_primary;
  font-size: 28px;
  line-height: 1.714;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 13px 10px;
  align-items: center;
  gap: 50px;

  &_container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
  }

  &_button {
    font-family: $font-family_button;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.222;
    letter-spacing: 0.06em;

    &::first-letter {
      letter-spacing: 0.04em;
    }
  }

  &_list {
    display: flex;
    font-family: $font-family_nav;
    font-size: 22px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    gap: 10px;
  }

  &_image {
    margin-left: auto;
  }
}

.logo {
  width: 100%;
}

.main {
  margin-bottom: 90px;
}

.section {
  margin-top: 70px;
  padding: 0 10px;
}

.heading {
  font-family: $font-family_heading;
  font-size: 36px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.superscript {
  font-family: $font-family_superscript;
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.04em;
  height: 20px;
  vertical-align: super;
  text-transform: capitalize;
}

.paragraph {
  margin-top: 40px;
}

.link {
  text-decoration: underline;
}

.code {
  font-family: $font-family_primary;
  background-color: $color-bg_text;
}
