@use 'fonts';
@import 'variables';

body {
  font-family: $font-family_primary;
  font-size: 28px;
  line-height: 1.714;
  background: url(../img/bg-picture.svg) no-repeat fixed right
    calc($header-height + $section_margin-top);
}

.center {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: fixed;
  background-color: $color-bg_default;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  &_container {
    display: flex;
    align-items: center;
    padding: 13px 10px;
    gap: 50px;
  }

  &_links {
    display: flex;
    align-items: flex-start;
    gap: 50px;
  }

  &_button {
    font-family: $font-family_button;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.222;
    letter-spacing: 0.06em;

    &::first-letter {
      letter-spacing: 0.04em;
    }
  }

  &_list {
    display: flex;
    font-family: $font-family_header;
    font-size: 22px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    gap: 10px;
  }

  &_image {
    margin-left: auto;
  }
}

.logo {
  display: block;
  width: 100%;
  max-height: 54px;
}

.main {
  display: flex;
  gap: 30px;
  margin-top: $header-height;
  margin-bottom: 90px;
}

.aside {
  white-space: nowrap;
  position: relative;
  margin-top: 70px;
  padding: 10px;

  &_sticky {
    position: sticky;
    top: 160px;
  }

  &_nav {
    display: flex;
    flex-direction: column;
    gap: 70px;

    &_item {
      display: block;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-border;
    }
  }
}

.section {
  margin-top: $section_margin-top;
  padding-right: 10px;

  &:first-child {
    margin-top: calc($section_margin-top + $divider-gap + $divider-height);

    .heading__space {
      &::before {
        padding-top: calc(
          $section_margin-top + $divider-gap + $divider-height + $header-height
        );
        margin-top: calc(
          -1 * ($section_margin-top + $divider-gap + $divider-height +
                $header-height)
        );
      }

      &::after {
        bottom: calc(
          100% - ($section_margin-top + $divider-height + $header-height)
        );
      }
    }
  }
}

.heading {
  font-family: $font-family_heading;
  font-size: 36px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  &__space {
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-top: calc($header-height + $section_margin-top);
      margin-top: calc(-1 * ($header-height + $section_margin-top));
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: calc(
        100% - ($header-height + $section_margin-top - $divider-gap)
      );
      border-top: $divider-height solid currentColor;
      width: 100px;
    }
  }
}

.superscript {
  font-family: $font-family_superscript;
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.04em;
  height: 20px;
  vertical-align: super;
  text-transform: capitalize;
}

.paragraph {
  margin-top: 40px;
}

.link {
  text-decoration: underline;
}

.code {
  font-family: $font-family_primary;
  background-color: $color-bg_text;
}
