@import './_fonts.scss';
@import './_variables.scss';
@import './_placeholders.scss';

body {
  font-family: $font-family_primary;
  font-size: 28px;
  line-height: 1.714;
}

.background {
  background: url(../img/bg-picture.svg) no-repeat fixed right
    calc($header-height + $section-spacing-top);
}

.scroll {
  overflow-y: scroll;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: fixed;
  background-color: $color-bg_default;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  &_container {
    display: flex;
    align-items: center;
    padding: 13px 10px;
    gap: 50px;
  }

  &_links {
    display: flex;
    align-items: flex-start;
    gap: 50px;
  }

  &_button {
    font-family: $font-family_button;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.222;
    letter-spacing: 0.06em;

    &::first-letter {
      letter-spacing: 0.04em;
    }
  }

  &_list {
    display: flex;
    font-family: $font-family_header;
    font-size: 22px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    gap: 10px;
  }

  &_image {
    margin-left: auto;
  }
}

.logo {
  display: block;
  width: 100%;
  max-height: 54px;
}

.main {
  margin-top: $header-height;
  margin-bottom: 70px;
  padding: 0 10px;

  &__row {
    display: flex;
    gap: 40px;
  }
}

.aside {
  white-space: nowrap;
  position: relative;
  margin-top: 70px;

  &_sticky {
    position: sticky;
    top: 160px;
  }

  &_nav {
    display: flex;
    flex-direction: column;
    gap: 70px;

    &_item {
      display: block;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-border;
    }
  }
}

.sections {
  padding-bottom: 20px;
}

.section {
  margin-top: calc($section-spacing-top + $divider-gap + $divider-height);

  &:first-child {
    .heading__space {
      &::before {
        padding-top: calc(
          $section-spacing-top + $divider-gap + $divider-height + $header-height
        );
        margin-top: calc(
          -1 * ($section-spacing-top + $divider-gap + $divider-height +
                $header-height)
        );
      }

      &::after {
        bottom: calc(
          100% - ($section-spacing-top + $divider-height + $header-height)
        );
      }
    }
  }
}

.heading {
  font-family: $font-family_heading;
  font-size: 36px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  &__alt {
    font-family: $font-family_heading-alt;
    font-weight: 700;
    text-transform: none;
  }

  &__line {
    display: flex;
    gap: 20px;
    align-items: center;

    &::before {
      @extend %divider;
    }
  }

  &__space {
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-top: calc($header-height + $section-spacing-top);
      margin-top: calc(-1 * ($header-height + $section-spacing-top));
    }

    &::after {
      @extend %divider;
      position: absolute;
      left: 0;
      bottom: calc(
        100% - ($header-height + $section-spacing-top - $divider-gap)
      );
    }
  }
}

.superscript {
  font-family: $font-family_superscript;
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.04em;
  height: 20px;
  vertical-align: super;
  text-transform: capitalize;
}

.paragraph {
  margin-top: 40px;
}

.link {
  text-decoration: underline;
}

.code {
  font-family: $font-family_primary;
  background-color: $color-bg_text;
}

.content {
  padding-top: $section-spacing-top;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 40px;
  padding: 20px 15px;
  border-top: 1px solid $color-border_cards;
  border-bottom: 1px solid $color-border_cards;
  perspective: 1000px;
}

.card {
  position: relative;
  height: 13vw;
  max-height: 180px;
  min-height: 110px;
  border-radius: 8px;
  transition: transform 0.6s;
  transform-style: preserve-3d;

  &_content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;

    &__front {
      background-color: $color-bg_card-gray;
    }

    &__back {
      background-color: $color-bg_card-dark;
      transform: rotateX(180deg);
    }
  }

  &_image {
    width: 100%;
  }

  &:hover {
    transform: rotateX(180deg);
  }
}
